.skills-section {
  /* background: #0b0c10; rich black */
  padding: 40px 20px;
  text-align: center;
  overflow: hidden;
  font-family: "Futura", sans-serif;
}

.skills-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffdd33; /* vivid yellow */
  margin-bottom: 30px;
  font-family: "Space", sans-serif;
}

.skills-row {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px 0;
}

.skills-track {
  display: flex;
  animation: scroll-left 20s linear infinite;
}

.skills-row.reverse .skills-track {
  animation: scroll-right 20s linear infinite;
}

.skills-track img {
  width: 60px;
  height: 60px;
  margin: 0 25px;
  filter: drop-shadow(0px 0px 6px rgba(255, 221, 51, 0.5));
}

/* Animasi looping */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
