html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* cegah scroll horizontal */
  background-color: black;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-y: hidden; /* kalau hanya 1 section dan tidak ingin bisa discroll sama sekali */
}
